body {
    width: 600px;
    padding-left:  150px;
    padding-top:  30px;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    font-size: 20px;
    margin-right: 20px;
}
nav ul li.big_name {
    font-size: 40px;
    color: black;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    color: #333;
    text-align: justify;
    text-justify: inter-word;
    font-size: 20px;
    width: 800px;
}
p.first_page_text {
  width: 570px;
  height: 450px;
  padding-top:  20px;
}
ul {
    width: 1000px;
}
ol {
    width: 800px;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: 3;
    width: 980px;
}
ul.index {
    width: 570px;
    font-size: 4;
}
ul.posts {
    width: 800px;
    font-size: 4;
}
h2.posts {
    width: 800px;
}
ul.posts li {
    list-style: none;
}

code.has-jax {font: inherit; font-size: 100%; background: inherit; border: inherit; color: inherit}

.current_page{
    text-decoration: underline;
    color: black;
}
.center {
    display: block;
    margin-left: 250px;
    margin-right: auto;
    width: 800px;
}
.comments {
    width: 800px;
    padding-top:  50px;
	}
